img {
  max-width: 100%;
  height: auto;
  padding-left: 10%;
  padding-right: 10%;
}
table#equal_width {
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  table-layout: fixed;
  border-collapse: collapse;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  border: 0px solid red;
}
table#equal_width tr{
  height: 10px;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  border: 0px solid red;
}
table#equal_width td{
  width: 50%;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: 0px solid red;
}
table#third_width {
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  table-layout: fixed;
  border-collapse: collapse;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  border: 0px solid red;
}
table#third_width tr{
  height: 10px;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  border: 0px solid red;
}
table#third_width td{
  width: 33%;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: 0px solid red;
}

img.imagesmall {
  width: auto;
  height: 100px;
}

img.resize {
  width: auto;
  height: 100%;
}
.img-container400 {
  text-align: center;
  height: 400px;
  width:100%;
  vertical-align:top;
  display: block;
}
.rowimage::after {
  content: "";
  clear: both;
  display: table;
}
.columnimage1x2 {
  float: left;
  width: 50%;
  padding: 5px;
  height: 400px;
}
.columnimage1x1 {
  float: center;
  width: 100%;
  height: 400px;
  padding-left: 20%
  padding-right: 20%
}
.px-10 { padding-right: 2rem !important; padding-left: 2rem !important; }
